<section id="club" class="navtabcontent">
    <div class="dark:bg-txt-8">
        <div class=" md:mx-16 dark:bg-txt-8 dark:bg-opacity-95"  >
            <div class="px-16 py-4 md:p-0 flex flex-wrap   ">
                <div class="w-full md:w-1/2 flex flex-row">
      
                    <div class=" ml-12 my-0 md:my-32 flex items-center justify-between" style="border-right: 2px solid #F16B58;">
                        <div class="max-h-0 md:max-h-full mr-32 max-w-md">
                            <div class="  invisible md:visible ml-12 text-2xl md:text-3xl lg:text-4xl text-txt-1 dark:text-txt-2 font-body1 font-semibold" >
                                Clubs
                            </div>
                            <div class="tabs max-h-0 md:max-h-full flex flex-row justify-evenly  md:flex md:flex-col  md:justify-evenly my-5 ml-10">
                                <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                  <button data-target="panel-1" class="text-left tab active   block ">
                                    4i-Lab
                                  </button>
                                </div>
                                <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                  <button data-target="panel-2" class="text-left tab  block ">
                                    Acumen : Quiz Club
                                  </button>
                                </div>
                                <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                    <button data-target="panel-3" class="text-left tab  block ">
                                        Aeromodelling Club
                                    </button>
                                  </div>
                                  <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                    <button data-target="panel-4" class="text-left tab  block ">
                                        Automobile Club
                                    </button>
                                  </div>
                                  <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                    <button data-target="panel-5" class="text-left tab  block ">
                                        Coding Club
                                    </button>
                                  </div>
                                  <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                      <button data-target="panel-6" class="text-left tab  block ">
                                        Consulting and Analytics Club
                                      </button>
                                    </div>
                                    <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                      <button data-target="panel-7" class="text-left tab  block ">
                                        E-Cell
                                      </button>
                                    </div><div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                        <button data-target="panel-8" class="text-left tab  block ">
                                         Electronics Club
                                        </button>
                                      </div>
                                      <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                          <button data-target="panel-9" class="text-left tab  block ">
                                            Equinox : Astronomy Club
                                          </button>
                                        </div>
                                        <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                          <button data-target="panel-10" class="text-left tab  block ">
                                            Finance and Economics Club
                                          </button>
                                        </div>
                                        <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                            <button data-target="panel-11" class="text-left tab  block ">
                                                IITG.ai
                                            </button>
                                          </div>
                                          <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                              <button data-target="panel-12" class="text-left tab  block ">
                                                Robotics Club
                                              </button>
                                            </div>
                                            <div class="invisible md:visible max-h-0 md:max-h-full opacity-50 py-2 text-txt-1 font-body2 text-base md:text-lg lg:text-xl dark:text-txt-2 dark:bg-txt-8" >
                                              <button data-target="panel-13" class="text-left tab  block ">
                                                White Space
                                              </button>
                                            </div>
      
                            </div>
                        </div>
      
                    </div>
      
                    
                </div>
      
                <div class="w-full md:w-1/2">
                    <div class="px-2 md:px-8 py-10 md:py-32">
                        <div class="tabs visible md:invisible  py-6 md:py-0 md:max-w-0 md:max-h-0">
                          
                            <div class="scrollmenu ">
                              <button data-target="panel-1" class="tab active   block ">
                                4i-Lab
                              </button>
                              <button data-target="panel-2" class="tab   block ">
                                club2
                              </button>
                              <button data-target="panel-3" class="tab    block ">
                                club3
                              </button>
                              <button data-target="panel-4" class="tab  block ">
                                club4
                              </button>
                              <a href="#support">Support</a>
                              <a href="#blog">Blog</a>
                              <a href="#tools">Tools</a>  
                              <a href="#base">Base</a>
                              <a href="#custom">Custom</a>
                              <a href="#more">More</a>
                              <a href="#logo">Logo</a>
                              <a href="#friends">Friends</a>
                              <a href="#partners">Partners</a>
                              <a href="#people">People</a>
                              <a href="#work">Work</a>
                            </div>
                         
                          </div>
      
      
      
      
      
      
                    
      
                          <div id="panels" class="">
                        <!-- club1 -->
                        <article class="panel-1 tab-content active overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                            <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                    4i-Lab
                                </div>
                                <div class=" ">
                                    <a href="">
                                        <img src="/tech/images/peop_img/gallery.svg" alt="" class="">
                                    </a>
                                </div>
                            </header>              
                            <a href="#">
                                <img alt="Placeholder" class="block h-auto self-center p-3 mx-auto" src="/tech/images/peop_img/clubpg.png">
                            </a>
            
                            <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                We are a group of tech enthusiasts who believe in a bigger vision of knowledge through exposure.  From 
                                small utilities to fully-fledged multifunctional bots, we have potential to pull it off right
                                 from scratch. The only prerequisite to join us is a mind ready to grab all we have to offer 
                                 and a dedication to build the unimaginable.
                            </div>
            
                            <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                <div class="flex flex-row">
                                    <a class="flex items-center no-underline hover:underline px-1" href="#">
                                        <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                    </a>
                                    <a class="flex items-center no-underline hover:underline px-1" href="#">
                                        <img src="/tech/images/peop_img/email.svg" alt="" class="w-6 h-6">
                                    </a>
                                    <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                        <img src="/tech/images/peop_img/phone.svg" alt="" class="w-6 h-6">
                                    </a>
                                </div>
                                <div>
                                    <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                        <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                    </a>
                                </div>
                            </footer>
            
                        </article>
                        <!-- card1 ends -->
      
                                          <!-- card1 -->
                                          <article class="panel-2 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                            <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                                <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                    club no 2
                                                </div>
                                                <div class=" ">
                                                    <a href="">
                                                        <img src="/tech/images/peop_img/gallery.svg" alt="" class="">
                                                    </a>
                                                </div>
                                            </header>              
                                            <a href="#">
                                                <img alt="Placeholder" class="block h-auto self-center p-3 mx-auto" src="/tech/images/peop_img/clubpg.png">
                                            </a>
                            
                                            <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                                We are a group of tech enthusiasts who believe in a bigger vision of knowledge through exposure.  From 
                                                small utilities to fully-fledged multifunctional bots, we have potential to pull it off right
                                                 from scratch. The only prerequisite to join us is a mind ready to grab all we have to offer 
                                                 and a dedication to build the unimaginable.
                                            </div>
                            
                                            <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                                <div class="flex flex-row">
                                                    <a class="flex items-center no-underline hover:underline px-1" href="#">
                                                        <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                    </a>
                                                    <a class="flex items-center no-underline hover:underline px-1" href="#">
                                                        <img src="/tech/images/peop_img/email.svg" alt="" class="w-6 h-6">
                                                    </a>
                                                    <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                                        <img src="/tech/images/peop_img/phone.svg" alt="" class="w-6 h-6">
                                                    </a>
                                                </div>
                                                <div>
                                                    <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                                        <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                    </a>
                                                </div>
                                            </footer>
                            
                                        </article>
                                        <!-- card1 ends -->
      
                                                          <!-- card1 -->
                        <article class="panel-3 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                          <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                              <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                  club no 3
                              </div>
                              <div class=" ">
                                  <a href="">
                                      <img src="/tech/images/peop_img/gallery.svg" alt="" class="">
                                  </a>
                              </div>
                          </header>              
                          <a href="#">
                              <img alt="Placeholder" class="block h-auto self-center p-3 mx-auto" src="/tech/images/peop_img/clubpg.png">
                          </a>
          
                          <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                              We are a group of tech enthusiasts who believe in a bigger vision of knowledge through exposure.  From 
                              small utilities to fully-fledged multifunctional bots, we have potential to pull it off right
                               from scratch. The only prerequisite to join us is a mind ready to grab all we have to offer 
                               and a dedication to build the unimaginable.
                          </div>
          
                          <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                              <div class="flex flex-row">
                                  <a class="flex items-center no-underline hover:underline px-1" href="#">
                                      <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                  </a>
                                  <a class="flex items-center no-underline hover:underline px-1" href="#">
                                      <img src="/tech/images/peop_img/email.svg" alt="" class="w-6 h-6">
                                  </a>
                                  <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                      <img src="/tech/images/peop_img/phone.svg" alt="" class="w-6 h-6">
                                  </a>
                              </div>
                              <div>
                                  <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                      <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                  </a>
                              </div>
                          </footer>
          
                      </article>
                      <!-- card1 ends -->
      
                                        <!-- card1 -->
                                        <article class="panel-4 tab-content overflow-hidden rounded-lg shadow-lg dark:bg-txt-7">
                                          <header class="flex items-center justify-between leading-tight mx-4 md:p-4">
                                              <div class="font-semibold text-xl md:text-2xl lg:text-3xl text-txt-1 dark:text-txt-2 font-body1 " >
                                                  club no 4
                                              </div>
                                              <div class=" ">
                                                  <a href="">
                                                      <img src="/tech/images/peop_img/gallery.svg" alt="" class="">
                                                  </a>
                                              </div>
                                          </header>              
                                          <a href="#">
                                              <img alt="Placeholder" class="block h-auto self-center p-3 mx-auto" src="/tech/images/peop_img/clubpg.png">
                                          </a>
                          
                                          <div class="mx-8 my-6  text-txt-1  text-sm md:text-base lg:text-lg font-medium   text-justify dark:text-txt-2">
                                              We are a group of tech enthusiasts who believe in a bigger vision of knowledge through exposure.  From 
                                              small utilities to fully-fledged multifunctional bots, we have potential to pull it off right
                                               from scratch. The only prerequisite to join us is a mind ready to grab all we have to offer 
                                               and a dedication to build the unimaginable.
                                          </div>
                          
                                          <footer class="flex items-center justify-between leading-none mx-4 md:mx-8 my-2 md:my-4">
                                              <div class="flex flex-row">
                                                  <a class="flex items-center no-underline hover:underline px-1" href="#">
                                                      <img src="/tech/images/peop_img/linkedin.svg" alt="" class="w-6 h-6">
                                                  </a>
                                                  <a class="flex items-center no-underline hover:underline px-1" href="#">
                                                      <img src="/tech/images/peop_img/email.svg" alt="" class="w-6 h-6">
                                                  </a>
                                                  <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                                      <img src="/tech/images/peop_img/phone.svg" alt="" class="w-6 h-6">
                                                  </a>
                                              </div>
                                              <div>
                                                  <a class="flex items-center no-underline hover:underline pl-1" href="#">
                                                      <img src="/tech/images/peop_img/website.svg" alt="" class="">
                                                  </a>
                                              </div>
                                          </footer>
                          
                                      </article>
                                      <!-- card1 ends -->
      
                                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>