<div class="bg-txt-2 flex flex-row items-center justify-start 
    shadow-nav h-20 text-txt-1 font-body2 text-medsmall px-8  dark:text-txt-2 dark:bg-txt-6">
    <ul class="tabs">
        <li class="tab opacity-50 px-3 mx-2 md:px-6 md:mx-4 tabstyle">
            <!-- <a href="#home" class="active " >Home</a> -->
            <a class="tablink" onclick="openPage('home')" id="defaultOpen" style="cursor: pointer;">Home</a>
        </li>
        <li class="tab opacity-50 px-3 md:px-6">
            <!-- <a href="#club" >Clubs</a> -->
            <a class="tablink" onclick="openPage('club')" style="cursor: pointer;">Clubs</a>
        </li>
        <li class="tab opacity-50 px-3 md:px-6">
            <!-- <a href="#event">Events</a> -->
            <a class="tablink" onclick="openPage('event')" style="cursor: pointer;">Events</a>
        </li>
        <li class="tab opacity-50 px-3 md:px-6">
            <!-- <a href="#team" >Team & Alumni</a> -->
            <a class="tablink" onclick="openPage('team')" style="cursor: pointer;">Team & Alumni</a>
        </li>
    </ul>
</div>